
/*Navbarempieza*/

nav {
    background-color: #332C2F !important;

}

.navbar-default .navbar-nav > li > a {
    color: #d6d6d6 !important; 
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #5a1e1e !important; 
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #5a1e1e !important;
    color: #555; 
}

.dropdown-menu {
    background-color: #5a1e1e !important;

}

.dropdown-menu > li > a {
    color: #d6d6d6 !important;

}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #26474c;
    background-color: #1d0808 !important; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #1d0808 !important; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #98aead;
background-color: #1d0808 !important;}
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: #1d0808 !important;;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed; }

/*Navbaracaba*/

/*Footerempieza*/

.panel-footer {
    background-color: #332C2F !important;
}
.pull-left, .pull-right {
    color: #d6d6d6 !important;
}
/*Footeracaba*/

/*Imagenampliada*/
#imagentatoo { 
    transition: all .2s ease-in-out; 
}
#imagentatoo:hover { 
    transform: scale(2.5); 
}

.table {
    overflow-x: auto !important;
}



html {
    background-image: url("../images/fondo2.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
}


body {
    margin: 40px;
    background-image: url("../images/fondo2.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;

}
/*Containers*/
.containerhome{
    display: grid;
    grid-template-columns: 275px 275px 275px 275px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
        "homeheader homeheader imagenhome imagenhome"
        "carousel carousel noticia1 noticia1"
        "carousel carousel noticia1 noticia1"
        "carousel carousel noticia1 noticia1";
    grid-gap: 10px;
}

.containerlicense{
    display: grid;
    grid-template-columns: 275px 275px 275px 275px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
        "homeheader homeheader . iconoC"
        "carousel carousel noticia1 noticia1"
        "carousel carousel noticia1 noticia1"
        "carousel carousel noticia1 noticia1";
    grid-gap: 10px;
}

.iconoC {
    text-align: right;
    grid-area: iconoC;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}
.item {
    padding: 15px;
    text-align: center;
}

#caja1 {
    color: white;
    text-align: left;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    grid-area: carousel;
}


#caja2 {
    color: white;
    text-align: left;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    grid-area: noticia1; 
}

#imagenhome {
    position: absolute;
    right: 100px;
    grid-area: imagenhome;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.homeheader {
    margin-left: 10px;
    text-align: left;
    color: white;
    grid-area: homeheader;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.homeheader small {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


@media all and (max-width: 992px) {



    .containerhome{
        display: grid;
        grid-template-columns: 275px auto auto auto;
        grid-template-rows: 200px auto auto auto;
        grid-template-areas: 
            "homeheader homeheader imagenhome imagenhome"
            "carousel carousel noticia1 noticia1"
            "carousel carousel noticia1 noticia1"
            "carousel carousel noticia1 noticia1";
        grid-gap: 10px;
    }

}

@media all and (max-width: 761px) {

    .containerhome{
        display: grid;
        grid-template-columns: 275px auto auto auto;
        grid-template-rows: 200px auto auto auto;
        grid-template-areas: 
            "homeheader homeheader . ."
            "imagenhome imagenhome . ."
            "carousel carousel . ."
            "noticia1 noticia1 . .";
        grid-gap: 10px;
    }

    #imagenhome {
        position: static;
    }
}

