/*Botones*/
.btn-default {
    background-color: #332C2F !important;
    color: #fff !important;
}

#dropdownMenu1 {
    margin-bottom: 10px;
}
/*Navbarempieza*/

nav {
    background-color: #332C2F !important;

}

.navbar-default .navbar-nav > li > a {
    color: #d6d6d6 !important; 
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #5a1e1e !important; 
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #5a1e1e !important;
    color: #555; 
}

.dropdown-menu {
    background-color: #5a1e1e !important;

}

.dropdown-menu > li > a {
    color: #d6d6d6 !important;

}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #26474c;
    background-color: #1d0808 !important; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #1d0808 !important; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #98aead;
    background-color: #1d0808 !important;}
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: #1d0808 !important;;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed; }

/*Navbaracaba*/

/*Footerempieza*/

.panel-footer {
    background-color: #332C2F !important;
}
.pull-left, .pull-right {
    color: #d6d6d6 !important;
}
/*Footeracaba*/

/*Imagenampliada*/
#imagentatoo { 
    transition: all .2s ease-in-out; 
}
#imagentatoo:hover { 
    transform: scale(2.5); 
}




html {
    background-image: url("../images/fondo3.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
}


body {
    margin: 40px;
    background-image: url("../images/fondo3.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;

}
/*Containers*/
.containerview{
    display: grid;
    grid-template-columns: 275px 275px 275px 275px;
    grid-template-rows: 200px 200px 200px 225px;
    grid-row-end: -1;
    grid-template-areas: 
        "homeheader homeheader homeheader homeheader"
        ". viewtabla viewtabla ."
        ". viewtabla viewtabla ."
        ". . viewbotones2 viewbotones2";
    grid-gap: 10px;
}
.containerperfil{
    display: grid;
    grid-template-columns: 275px 275px 275px;
    grid-template-rows: 200px 200px 200px 225px;
    grid-row-end: -1;
    grid-template-areas: 
        "homeheader homeheader homeheader homeheader"
        ". tablemain tablemain ."
        ". perfilbotones perfilbotones .";
    grid-gap: 10px;
}

.containerhome{
    display: grid;
    grid-template-columns: 275px 275px 275px 275px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
        "homeheader homeheader imagenhome imagenhome"
        "carousel carousel noticia1 noticia1"
        "carousel carousel noticia1 noticia1"
        "carousel carousel noticia1 noticia1";
    grid-gap: 10px;
}

.containerlicense{
    display: grid;
    grid-template-columns: 275px 275px 275px 275px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
        "homeheader homeheader . iconoC"
        "carousel carousel noticia1 noticia1"
        "carousel carousel noticia1 noticia1"
        "carousel carousel noticia1 noticia1";
    grid-gap: 10px;
}

.containerlogin{
    display: grid;
    grid-template-columns: 275px 275px 275px 275px;
    grid-template-rows: 100px 200px 225px 225px;
    grid-row-end: -1;
    grid-template-areas: 
        "homeheader homeheader homeheader homeheader"
        ". logindrop logindrop ."
        ". logindrop logindrop .";
    grid-gap: 10px;
}

.containerlogout{
    display: grid;
    grid-template-columns: 275px 275px 275px;
    grid-template-rows: 100px 200px 225px ;
    grid-row-end: -1;
    grid-template-areas: 
        "homeheader homeheader homeheader homeheader"
        ". logoutmain logoutmain ."
        ". logoutmain logoutmain .";
    grid-gap: 10px;
}

.containerpasschange{
    display: grid;
    grid-template-columns: 275px 275px 275px;
    grid-template-rows: 100px 200px 225px 225px;
    grid-row-end: -1;
    grid-template-areas: 
        "homeheader homeheader homeheader homeheader"
        ". passchange passchange ."
        ". passchange passchange .";
    grid-gap: 10px;
}
/*Fin containers*/

/*login*/
#logindrop {
    text-align: left;
    grid-area: logindrop;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#droplogin {

    position: relative;
    display: inline-block;


}

#loginform {
    grid-area: loginform;
    background-color: black;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.loginheader {
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    color: white;
    grid-area: homeheader;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*finlogin*/

/*logout*/

#logoutmain {
    grid-area: logoutmain;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    z-index: 1;
}

/*fin logout*/

/*passchange*/
#passchangemain {
    grid-area: passchange;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    z-index: 1;
}
#passchange {
    grid-area: passchange;
}
/*finpasschange*/

/*perfil*/

#tablemain {
    grid-area: tablemain;
}

#perfilbotones {
    grid-area: perfilbotones;
    margin-right: 18px;
}

/*finperfil*/

/*css generico*/

.iconoC {
    text-align: right;
    grid-area: iconoC;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
.item {
    padding: 15px;
    text-align: center;
}

#caja1 {
    color: white;
    text-align: left;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    grid-area: carousel;
}


#caja2 {
    color: white;
    text-align: left;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    grid-area: noticia1; 
}

#imagenhome {
    position: absolute;
    right: 100px;
    grid-area: imagenhome;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.homeheader {
    margin-left: 10px;
    text-align: left;
    color: white;
    grid-area: homeheader;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.homeheader small {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*fin css generico*/

/*CSS PARA TABLA*/
.table-bordered {
    background-color: #182444;
    border: 2px black solid !important;
    color: #d6d6d6;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #5a1e1e;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #5a1e1e;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #5f521a;
}

.table-bordered td {
    border: 2px black solid !important;
}

.table-bordered tr {
    border: 2px black solid !important;
}

.table-bordered > thead > tr > th {
    border: 2px black solid !important;
}

/*FIN CSS PARA TABLA*/

/*css para view*/
#viewbotones1 {
    grid-area: viewbotones1;
}

#viewtabla {
    grid-area: viewtabla;
}

#viewbotones2 {
    grid-area: viewbotones2;
}

/*fin cs para view*/




/*media para 992*/
@media all and (max-width: 992px) {

    .containerperfil{
        display: grid;
        grid-template-columns: 275px auto auto;
        grid-template-rows: 200px 200px 200px 225px;
        grid-row-end: -1;
        grid-template-areas: 
            "homeheader homeheader homeheader"
            ". tablemain . "
            ". perfilbotones . ";
        grid-gap: 10px;
        margin-top: 40px;
    }

    .containerhome{
        display: grid;
        grid-template-columns: 275px auto auto auto;
        grid-template-rows: 200px auto auto auto;
        grid-template-areas: 
            "homeheader homeheader imagenhome ."
            "carousel carousel noticia1 noticia1"
            "carousel carousel noticia1 noticia1"
            "carousel carousel noticia1 noticia1";
        grid-gap: 10px;
        margin-top: 40px;
    }
    .containerlicense{
        display: grid;
        grid-template-columns: 275px auto auto auto;
        grid-template-rows: 200px auto auto auto;
        grid-template-areas: 
            "homeheader homeheader iconoC ."
            "carousel carousel noticia1 noticia1"
            "carousel carousel noticia1 noticia1"
            "carousel carousel noticia1 noticia1";
        grid-gap: 10px;
        margin-top: 40px;
    }

    .iconoC {
        text-align: left;
    }
    .containerlogin{
        display: grid;
        grid-template-columns: 275px auto auto;
        grid-template-rows: 100px 200px 225px 225px;
        grid-template-areas: 
            "homeheader homeheader homeheader homeheader"
            ". logindrop logindrop ."
            ". logindrop logindrop .";
        grid-gap: 10px;
        margin-top: 40px;
    }

    .containerlogout{
        display: grid;
        grid-template-columns: 275px auto auto;
        grid-template-rows: 100px 200px 225px 225px;
        grid-template-areas: 
            "homeheader homeheader homeheader homeheader"
            ". logoutmain logoutmain ."
            ". logoutmain logoutmain .";
        grid-gap: 10px;
        margin-top: 40px;
    }

    .containerpasschange{
        display: grid;
        grid-template-columns: 275px auto auto;
        grid-template-rows: 100px 200px 225px 225px;
        grid-template-areas: 
            "homeheader homeheader homeheader homeheader"
            ". passchange passchange ."
            ". passchange passchange .";
        grid-gap: 10px;
        margin-top: 40px;
    }

    .containerview{
        display: grid;
        grid-template-columns: 275px auto auto auto;
        grid-template-rows: 200px auto auto auto;
        grid-row-end: -1;
        grid-template-areas: 
            "homeheader homeheader homeheader homeheader"
            ". viewtabla viewtabla ."
            ". viewtabla viewtabla ."
            ". viewbotones2 viewbotones2 .";
        grid-gap: 10px;
    }






}

@media all and (max-width: 761px) {

    .containerhome{
        display: grid;
        grid-template-columns: 275px auto auto auto;
        grid-template-rows: 200px auto auto auto;
        grid-template-areas: 
            "homeheader homeheader . ."
            "imagenhome imagenhome . ."
            "carousel carousel . ."
            "noticia1 noticia1 . .";
        grid-gap: 10px;
    }
    .containerlicense{
        display: grid;
        grid-template-columns: 275px auto auto auto;
        grid-template-rows: 200px auto auto auto;
        grid-template-areas: 
            "homeheader homeheader . ."
            "iconoC . . ."
            "carousel carousel . ."
            "noticia1 noticia1 . .";
        grid-gap: 10px;
    }

    .iconoC {
        text-align: left;
    }


    #imagenhome {
        position: static;
    }

    .containerlogin{
        display: grid;
        grid-template-columns: 275px auto auto ;
        grid-template-rows: 150px 200px 225px 225px;
        grid-row-end: -1;
        grid-template-areas: 
            "homeheader homeheader . ."
            "logindrop . . ."
            "logindrop . . .";
        grid-gap: 10px;
    }

    .containerlogout{
        display: grid;
        grid-template-columns: 275px auto auto;
        grid-template-rows: 100px 200px 225px 225px;
        grid-row-end: -1;
        grid-template-areas: 
            "homeheader homeheader homeheader homeheader"
            "logoutmain . . ."
            "logoutmain . . .";
        grid-gap: 10px;
    }

    .containerpasschange{
        display: grid;
        grid-template-columns: 275px auto auto;
        grid-template-rows: 100px 200px 225px 225px;
        grid-row-end: -1;
        grid-template-areas: 
            "homeheader homeheader . ."
            "passchange . . ."
            "passchange . . .";
        grid-gap: 20px;
    }

    .containerperfil{
        display: grid;
        grid-template-columns: 275px auto auto;
        grid-template-rows: 200px 200px 200px 225px;
        grid-row-end: -1;
        grid-template-areas: 
            "homeheader homeheader ."
            "tablemain tablemain ."
            "perfilbotones . .";
        grid-gap: 10px;
    }
    
    .containerview{
        display: grid;
        grid-template-columns: 275px auto auto auto;
        grid-template-rows: 200px auto auto auto;
        grid-row-end: -1;
        grid-template-areas: 
            "homeheader homeheader homeheader homeheader"
            "viewtabla viewtabla . ."
            "viewtabla viewtabla . ."
            "viewbotones2 viewbotones2 . .";
        grid-gap: 10px;
    }


}

